.text-input {
    -fx-text-fill: #FAFAFA;
    -fx-background-color: #343434;
    -fx-border-color: #FAFAFA;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-prompt-text-fill: gray;
}

.text-input:hover {
    -fx-border-color: #E06249;
}

.link:hover {
    -fx-text-fill: #E06249;
}

.button {
    -fx-background-color: #E06249;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-translate-y: -10px;
}

.button:pressed {
    -fx-background-color: #b04BA0;
}